.header{
    position:absolute;
	right:0;
	left:0;
	top:0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-navBar .navBar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;
}

.header-navBar .navBar-list li a {
    font-family: "Schibsted Grotesk", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .header-content {
        padding: 20px 15px; 
    }

    .header-navBar .navBar-list {
        gap: 20px; 
    }

    .header-navBar .navBar-list li a {
        font-size: 14px;
    }

    .header-logo .logo {
        max-width: 150px; 
    }
}

