.header{
    position:absolute;
	right:0;
	left:0;
	top:0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-navBar .navBar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;
}

.header-navBar .navBar-list li a {
    font-family: "Schibsted Grotesk", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
}

