.section-new {
    background-color: #F5F5F5;
}

.section-new .new-content {
    padding: 100px 0;
}

.new-content h2 {
    font-family: "Schibsted Grotesk", sans-serif;
    color: #00334D;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 60px;
    line-height: 27px;
}

.news-button {
    display: inline-block;
    font-family: "Schibsted Grotesk", sans-serif;
    background: #005680;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 24px 36px;
    border-radius: 8px;
    text-decoration: none;
}

.news-button:hover {
    background: #ffffff;
    color: #000000;
}

.buuut{
    padding-top: 50px;
    text-align: center;
}

.new-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
}

.new-image {
    background-color: #ffffff;
    border-radius: 8px;
    width: 90%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tetet {
    padding: 23px 17px 17px 23px;
}

.tetet h4 {
    font-family: "Schibsted Grotesk", sans-serif;
    color: #005680;
    font-size: 16px;
    font-weight: 800;
    left: 25px;
}

.calendre {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
}

.calendre-text p {
    margin: 0;
    font-family: "Schibsted Grotesk", sans-serif;
    color: #595959;
    font-size: 16px;
    font-weight: 700;
}

.news-image {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 1200px) {
    .new-image {
        width: 48%; 
    }
}

@media (max-width: 768px) {
    .new-images {
        justify-content: center;
    }

    .new-image {
        width: 100%;
    }

    .new-content h2 {
        font-size: 24px;
        padding-bottom: 40px; 
    }

    .news-button {
        padding: 16px 30px; 
    }
}

@media (max-width: 480px) {
    .new-content h2 {
        font-size: 20px; 
        padding-bottom: 20px; 
    }

    .news-button {
        font-size: 14px; 
        padding: 16px 24px;
    }
}
