.services-content{
    padding: 100px 0px;
}

.services-content h1 {
    font-family: "Schibsted Grotesk", sans-serif;
    color: #00334D;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 60px;
    line-height: 27px;
}

.services-images {
    padding-top: 60px;
    display: flex;
    gap: 20px;
}


